* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: rgb(64, 192, 70);
    font-size: 10px;
}


.overflowY {
    overflow-y: hidden;
}


body #wrapper {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* ---------ANIMATION------------ */
.movement {
    animation: slidein 1s;
}

.movement--infinite {
    animation: slidein 2s infinite;
}

.moveup__left{
    animation: moveup 2s forwards;
}

.moveup__right{
    animation: moveup 2s .5s backwards;
}

.moveleft {
    animation: moveleft 2s forwards;
}

.moveright {
    animation: moveright 2s forwards;
}

.hidden {
    visibility: hidden;
}

/* --------COVER--------- */
.cover {
    width: 50%;
    height: 100%;
    background-color: rgba(240, 126, 118);
    position: absolute;
    z-index: 9999;
}

.loading {
    position: absolute;
    z-index: 10000;
    font-size: 4rem;
    color: rgb(15, 15, 15);
    font-family: 'Satisfy', cursive;
    top: 70%;
    left: 45%;
}

.heart-cover {
    z-index: 10000;
    width: 10%;
    position: absolute;
    top: 40%;
    left: 47%;
    animation: beating .75s infinite;
}

.cover__detail {
    font-size: 6rem;
    color: rgb(15, 15, 15);
    letter-spacing: 3px;
    font-family: 'Satisfy', cursive;
    position: absolute;
    top: 45%;
}

/* .cover--left {
    
} */

.cover--right {
    transform: translateX(100%);
}

.cover__detail--left {
    left: 70%;
    
}

.cover__detail--right {
    right: 67%;
    
}

/* ------CONTAINER */

.container {
    height: 100vh;

    background-image: linear-gradient(45deg, rgba(153, 53, 13, 0.2) 20%, rgba(238, 154, 75, 0.2)), url(../resources/images/Just_hold_my_hand.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h2 {
    font-size: 6rem;
    color: rgb(247, 7, 7);
    letter-spacing: 8px;
    font-family: 'Satisfy', cursive;
}

.heart--green {
    font-size: 7rem;
    
}


/* ---------------HEADING------------- */
.heading {
    /* text-align: center; */
    height: 100vh;
}

.heading h2 {
    text-align: center;
}

.pagin {
    width: 90%;
    height: 80%;
    margin: 0px auto;
    margin-top: 20px;
    position: relative;
}

/* <--Image--> */
.pagin .album {
    width: 69%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.album__img {
    position: absolute;  
    /* left: 34%;    */
    width: 100%;
    height: auto;

}


#image1 {
    z-index: 1;
}

#image2 {
    z-index: 0;
}

#image3 {
    z-index: -1;
}


/* <--Button--> */

.button-bar {
    width: 100%;
    position: absolute;
    top: 92%;
    text-align: center;
    z-index: 1000;
}

.btn {
    margin-left: 3px;
}

.btn--round {
    border-radius: 50%;
    border: none;
    background-color: #cccc;
    cursor: pointer;
    padding: .7%;
    transition: background-color .5s ease;
    outline-style: none;
}

.btn--big {
    transform: scale(1.2);
}

.btn--shadowed {
    box-shadow: 0 0 1px 1.5px white;
}

.btn--round:hover {
    background-color: rgba(9, 245, 87, 0.8);
    transform: scale(1.2);
    box-shadow: 0 0 1px 1.5px white;
}

/*--------CONTENT---------*/

/* <--------Center--------> */
.center {
    margin-top: 50px;
    height: 60vh;
    width: 100%;
    
}

.info {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.info__gender {
    width: 400px;
    height: 300px;
    background-color: #cccc;
    border-radius: 5%;
    
    margin: 0 auto;
    
    padding: 10px;

    text-align: center;

    position: relative;

    transition: background-color 1.5s ease;

}

.info__gender:hover {
    background-color: rgb(235, 77, 77);
    
}

.info__gender:hover .info__img {
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px rgb(9, 245, 88);
}

.info__gender:hover .info__name::after {
    background-color: rgba(9, 245, 87, 0.8);
}

.info__gender--female {
    left: 6%;
}

.info__gender--male {
    right: 7%;
    top: 23px;
    z-index: 0;
}

.info__heart-symbol {
    width: 12%;
    /* font-size: 80px; */
    animation: beating .75s infinite;
    z-index: 100;
}



.info__img {
    border-radius: 50%;
    margin-top: 5%;
    width: 40%;
    height: auto;

    transition: scale 1.5s ease, box-shadow 1s ease;
}

.info__name {
    margin-top: 20px;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
}

.info__name::after {
    content: " ";
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.664);

    transition: background-color 1s ease;
}

.info__dob {
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
}

/* <---Counter-----> */
.love-title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    
    margin-top: 50px;
    margin-right: 150px;
    font-size: 5rem;
    color: rgb(36, 34, 34);
}

.love-title__footer {
    text-align: center;
    font-family: 'Pacifico', cursive;

    margin: 30px 0 50px 200px;
    font-size: 5rem;
    color: rgb(36, 34, 34);
}

.counter {
    width: 40%;
    height: 10vh;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}

.counter__block {
    width: 20%;
    height: fit-content;
    background-color: #cccc;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: lighten 8s 12s forwards;
    
}
.counter__block--number {
    margin-top: 10px;
    font-size: 4rem;
}

.counter__block--detail {
    
    font-size: 2.5rem;
    font-family: 'Satisfy', cursive;
}


